annotated-types==0.6.0
anyio==4.3.0
asyncmy==0.2.9
certifi==2024.2.2
cffi==1.16.0
charset-normalizer==3.3.2
click==8.1.7
colorama==0.4.6
cryptography==42.0.5
DAWG-Python==0.7.2
deeppavlov==1.6.0
dff==0.7.0
docopt==0.6.2
exceptiongroup==1.2.1
fastapi==0.89.1
ff==0.0.10
filelock==3.9.1
fsspec==2024.3.1
greenlet==3.0.3
h11==0.14.0
huggingface-hub==0.23.0
idna==3.7
iniconfig==2.0.0
intervaltree==3.1.0
ipymarkup==0.9.0
Jinja2==3.1.3
joblib==1.4.2
MarkupSafe==2.1.5
mpmath==1.3.0
natasha==1.6.0
navec==0.10.0
nest-asyncio==1.6.0
networkx==3.3
nltk==3.8.1
numpy==1.23.5
packaging==24.0
pandas==1.5.3
pluggy==1.5.0
prometheus_client==0.20.0
pybind11==2.10.3
pycparser==2.22
pydantic==2.7.1
pydantic_core==2.18.2
pymorphy2==0.9.1
pymorphy2-dicts-ru==2.4.417127.4579844
pymystem3==0.2.0
pyTelegramBotAPI==4.17.0
pytest==8.2.0
pytest-asyncio==0.23.6
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
pytorch-crf==0.7.2
pytz==2024.1
PyYAML==6.0.1
razdel==0.5.0
regex==2024.4.28
requests==2.31.0
safetensors==0.4.3
scikit-learn==1.0.2
scipy==1.10.0
six==1.16.0
slovnet==0.6.0
sniffio==1.3.1
sortedcontainers==2.4.0
SQLAlchemy==2.0.29
starlette==0.22.0
sympy==1.12
threadpoolctl==3.5.0
tokenizers==0.19.1
tomli==2.0.1
torch==2.2.2
TorchCRF==1.1.0
tqdm==4.64.1
transformers==4.40.1
typing_extensions==4.11.0
urllib3==2.2.1
uvicorn==0.18.3
wrapt==1.16.0
yargy==0.16.0
